@media screen and (max-width: 860px){
    #nav,
    #header,
    #main {
      margin: 30px 90px;
    }
}

@media screen and (max-width: 670px){
    #header{
        flex-direction: column;
        align-items: start;
    }
    .socials li {
        width: 32px;
        height: 32px;
        margin: 0;
        margin-right: 10px;
    }
    .socials {
        margin-top: 10px;
    }
}

